<header class="header">
    <div class="header__card header__card--left">
        <div class="header__card__content header__card__name">
            <h1 class="header__card__name--title">Eugene Cheung</h1>
        </div>
    </div>

    <div class="header__card header__card--right">
        <div class="header__card__content header__card__links">
            <a href="#home-about">About</a>
            <a href="#home-work">Work</a>
            <a href="#footer-contact">Contact</a>
        </div>
    </div>

    <p class="header__bgtext">Developer + Designer</p>
</header>

<main class="content">
    <div class="container">
        <section class="home-content__about" id="home-about">
            <h1>Hi, I like creating things.</h1>

            <p>I’m a student at University of Toronto St. George studying to get a BSc. with a specialization in Computer Science. I began teaching myself about design and programming at the age of 12, and I've loved crafting beautiful creations ever since.</p>
        </section>

        <section class="home-content__gallery" id="home-work">
            <h2>Work</h2>

            <div class="portfolio">
                <% for (var i in public._data.portfolio.items) { %>
                    <% var item = public._data.portfolio.items[i] %>

                    <div class="portfolio__item">
                        <div class="portfolio__item--image">
                            <img src="/images/portfolio/<%= item.image %>.jpg" alt="<%= item.title %>">
                        </div>

                        <div class="portfolio__item--description">
                            <h3 class="portfolio__item--title"><%= item.title %></h3>
                            <div class="portfolio__item--tags">
                                <% for (var j in item.categories) { %>
                                    <% var category = item.categories[j] %>
                                    <span><%= category %></span>
                                <% } %>
                            </div>
                            <p><%= item.description %></p>

                            <a class="portfolio__item--link" href="<%= item.url %>">See it live</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
</main>
